{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign primary_link = post.link | default: post.openreview | default: post.arxiv | default: post.pdf %}

<div class="publication" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <h3 class="publication__title" itemprop="headline">
    {% if primary_link %}
      <a href="{{ primary_link }}">{{ title }}</a>
    {% else %}
      {{ title }}
    {% endif %}
  </h3>

  {% comment %}
    `authors` is a list of names as published, and is shown as-is. Entries
    matching site.author.name or one of site.author.name_aliases are bolded.
    A legacy `authors:` string still renders, since Liquid's for tag yields a
    non-enumerable value once, as a single item.
  {% endcomment %}
  {% if post.authors %}
    <p class="publication__authors">
      {%- for author in post.authors -%}
        {%- if author == site.author.name or site.author.name_aliases contains author -%}
          <span class="publication__author--self">{{ author }}</span>
        {%- else -%}
          {{ author }}
        {%- endif -%}
        {%- unless forloop.last %}, {% endunless -%}
      {%- endfor -%}
    </p>
  {% endif %}

  {% if post.venue %}
    <p class="publication__venue">{{ post.venue }}</p>
  {% endif %}

  {% if post.link or post.arxiv or post.openreview or post.pdf or post.code %}
    <p class="publication__links">
      {% if post.link %}<a class="publication__link" href="{{ post.link }}">Paper</a>{% endif %}
      {% if post.arxiv %}<a class="publication__link" href="{{ post.arxiv }}">arXiv</a>{% endif %}
      {% if post.openreview %}<a class="publication__link" href="{{ post.openreview }}">OpenReview</a>{% endif %}
      {% if post.pdf %}<a class="publication__link" href="{{ post.pdf }}">PDF</a>{% endif %}
      {% if post.code %}<a class="publication__link" href="{{ post.code }}">Code</a>{% endif %}
    </p>
  {% endif %}
</div>
